<div class="h-54 bg-white position-sticky top-0 d-flex justify-content-between">
    <img src="../assets/images/Status-time.png" class="h-100" alt="Status-Bar">
    <img src="../assets/images/Status-right.png" class="h-100" alt="Status-Bar">
</div>
