<nav class="h-94 bg-white position-sticky bottom-0 border-top border-gray-200 p-4">
    <ul class="d-flex justify-content-around">
        <li class="">
            <a href="#" class="d-flex flex-column align-items-center text-decoration-none">
                <div class="icon-blk mb-1">
                    <img src="../assets/images/nav/Today-Default.png" class="img-fluid icon icon-01" alt="今日">
                </div>
                <div class="fs-9 nav-title default">
                    今日
                </div>
            </a>
        </li>
        <li class="">
            <a href="#" class="d-flex flex-column align-items-center text-decoration-none">
                <div class="icon-blk mb-1">
                    <img src="../assets/images/nav/Today-Default.png" class="img-fluid icon icon-01" alt="今日">
                </div>
                <div class="fs-9 nav-title default">
                    今日
                </div>
            </a>
        </li>
        <li class="">
            <a href="#" class="d-flex flex-column align-items-center text-decoration-none">
                <div class="icon-blk mb-1">
                    <img src="../assets/images/nav/Today-Default.png" class="img-fluid icon icon-01" alt="今日">
                </div>
                <div class="fs-9 nav-title default">
                    今日
                </div>
            </a>
        </li>
        <li class="">
            <a href="#" class="d-flex flex-column align-items-center text-decoration-none">
                <div class="icon-blk mb-1">
                    <img src="../assets/images/nav/Today-Default.png" class="img-fluid icon icon-01" alt="今日">
                </div>
                <div class="fs-9 nav-title default">
                    今日
                </div>
            </a>
        </li>
    </ul>
</nav>