<nav id="main-nav" class="h-94px bg-white position-sticky bottom-0 border-top border-gray-200 p-4 z-1060">
    <ul class="d-flex justify-content-around">
        <li id="nav-today">
            <a href="index.html" class="d-flex flex-column align-items-center text-decoration-none">
                <div class="icon-blk mb-1">
                    <img src="../assets/images/nav/Today-Default.png" class="img-fluid default-img" alt="今日">
                    <img src="../assets/images/nav/Today-Active.png" class="img-fluid active-img d-none" alt="今日">
                </div>
                <div class="fs-9 nav-title default" data-nav="today">
                    今日
                </div>
            </a>
        </li>
        <li id="nav-record">
            <a href="record.html" class="d-flex flex-column align-items-center text-decoration-none">
                <div class="icon-blk mb-1">
                    <img src="../assets/images/nav/Chart-Default.png" class="img-fluid default-img" alt="紀錄">
                    <img src="../assets/images/nav/Chart-Active.png" class="img-fluid active-img d-none" alt="紀錄">
                </div>
                <div class="fs-9 nav-title default" data-nav="record">
                    紀錄
                </div>
            </a>
        </li>
        <li id="nav-search">
            <a href="search.html" class="d-flex flex-column align-items-center text-decoration-none">
                <div class="icon-blk mb-1">
                    <img src="../assets/images/nav/Search-Default.png" class="img-fluid default-img" alt="搜尋">
                    <img src="../assets/images/nav/Search-Active.png" class="img-fluid active-img d-none" alt="搜尋">
                </div>
                <div class="fs-9 nav-title default" data-nav="search">
                    搜尋
                </div>
            </a>
        </li>
        <li id="nav-setting">
            <a href="setting.html" class="d-flex flex-column align-items-center text-decoration-none">
                <div class="icon-blk mb-1">
                    <img src="../assets/images/nav/setting-Default.png" class="img-fluid default-img" alt="設定">
                    <img src="../assets/images/nav/setting-Active.png" class="img-fluid active-img d-none" alt="設定">
                </div>
                <div class="fs-9 nav-title default" data-nav="setting">
                    設定
                </div>
            </a>
        </li>
    </ul>
</nav>