html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	// font-size: 100%;
	// font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: $line-height-base;
}
ol, ul {
	list-style: none;
	margin: 0;
    padding: 0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.max-w-767{
	max-width: 767px;
}
.h-100vh{
	height: 100vh;
}
.w-12px{
	width: 12px;
}
.h-12px{
	height: 12px;
}
.w-16px{
	width: 16px;
}
.h-16px{
	height: 16px;
}
.w-22px{
	width: 22px;
}
.h-22px{
	height: 22px;
}
.w-24px{
	width: 24px;
}
.h-24px{
	height: 24px;
}
.w-40px{
	width: 40px;
}
.h-40px{
	height: 40px;
}
.w-44px{
	width: 44px;
}
.h-44px{
	height: 44px;
}
.h-48px{
	height: 48px;
}
.h-54px{
	height: 54px;
}
.h-94px{
	height: 94px;
}
.w-120px{
	width: 120px;
} 
.h-120px{
	height: 120px;
}
.w-128px{
	width: 128px;
} 
.h-128px{
	height: 128px;
}
.rounded-xs{
	border-radius: $border-radius-xs;
}
.bg-f6{
	background-color: #F6F6F6;
}
.bg-secondary-50{
	background-color: #f9f6ed;
}
.bg-secondary-100{
	background-color: $orange-100;
}
.border-secondary-400{
	border-color: $orange-400 !important;
}
.border-gray-200{
	border-color: $gray-200 !important;
}
.border-half{
	border-width: 0.5px !important;
}
.text-primary-900{
 color: $teal-900;
}
.text-primary-950{
 color: #0f2421;
}
.text-gray-600{
	color: $gray-600;
}
.drinks-card{
	.drink-item{
		width: 51px;
		height: 67pxa;
	}
}
.scroll-x-blk{
	overflow-y: hidden;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}
.white-space-nowrap {
	white-space: nowrap;
  }
.mx-adjust{
	margin-left: -20px;
	margin-right: -20px;
}
.px-adjust{
	padding-left: 20px;
	padding-right: 20px;
}
