//首頁
.drinks-card {
  .drink-item {
    width: 51px;
    height: 67px;
  }
}

//record頁
.daily-count {
  &.active {
    border-color: $primary !important;
    background-color: $primary;
  }
}
.items-primary-bg-change {
  li {
    &:nth-child(odd) {
      .bg-color-change {
        background-color: $primary;
      }
    }
    &:nth-child(even) {
      .bg-color-change {
        background-color: $teal-400;
      }
    }
  }
}

.record-card {
  &.lock {
    &:before,
    &:after {
      content: "";
      position: absolute;
    }
    &:before {
      width: 100%;
      height: 100%;
      background-color: rgba(#000000, 0.5);
      top: 0;
      left: 0;
      z-index: 1;
    }
    &:after {
      width: 24px;
      height: 24px;
      background-image: url("/assets/images/icon/locked.svg");
      background-repeat: no-repeat; // 防止圖片重複
      z-index: 2;
      right: 8px;
      top: 8px;
    }
    background-color: $primary !important;
  }
}

//record-咖啡因
.form-select-secondary:focus {
  border-color: $orange-200;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba($orange-200, 0.8);
}

//--------- 圈圈動態
// $radial-size: rem(184);
.chart {
  display: inline-block;
  position: relative;
  text-align: center;
  // Sizing important here to create underlayer
  // of grey circle with border-radius
  h2 {
    border-radius: 100%;
    border: 15px solid $teal-100;
    color: $teal-100;
    height: 135px; //$radial-size;
    width: 135px; //$radial-size;
  }
}

// Stroke color
svg .outer {
  stroke: $primary;
}
.chart svg {
  // @include position(absolute, 0 null null 0);
  //makes sure purple stroke positioning right over underlayer
  position: absolute;
  top: 0;
  left: 0;
  stroke-linecap: round;
}
.outer {
  // -webkit-animation-play-state: running;
  fill: transparent;
  stroke-dasharray: 534; //creates a long dash
  stroke-width: 10; //15; //width of dash to match grey circle underneath
  border-radius: 10px;
  transition: stroke-dashoffset 1s;
  stroke-dashoffset: 534; /* 預設先不顯示 */
}
// .chart[data-percent='94'] .outer {
// 	animation: show94 2s;
// 	stroke-dashoffset: 180;
// }
.chart.animate .outer {
  animation: show94 2s forwards;
}
@keyframes show94 {
  from {
    stroke-dashoffset: 534; // the distance into pattern to start dash - matching values from stroke-dashoffset above
  }
  to {
    stroke-dashoffset: 180; // the distance into pattern to end dash.
  }
}
//-----圓圈動態結束

/* 預設下沒有動畫 */
#animate-content {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* 當 class 'start-animation' 加入後，觸發動畫 */
#animate-content.start-animation {
  opacity: 1;
}
