<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>record</title>
  </head>
  <body class="max-w-767 mx-auto bg-f6">
    <%- include('./layout/header'); -%>
    <div class="px-6">
      <section class="py-7">
        <h1 class="fs-1 mb-6">咖啡因</h1>

        
      </section>
    </div>
    
    

    <%- include('./layout/nav'); -%>

    <script type="module" src="../main.js"></script>

  </body>
</html>
