<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>record</title>
  </head>
  <body class="max-w-767 mx-auto bg-f6">
    <%- include('./layout/header'); -%>
    <div class="px-6">
      <section class="py-7">
        <h1 class="fs-1 mb-6">紀錄</h1>
        <section class="mb-6">
          <h2 class="text-dark fs-6 fw-bold mb-2">飲品日曆</h2>
          <div class="today-card bg-secondary-100 px-5 py-4 rounded-2 border border-secondary-400">
            <div class="fs-9 text-gray-400 mb-5">統計每日飲用杯數</div>
            <ul class="d-flex justify-content-between">
              <li class="d-flex flex-column align-items-center">
                <div class="daily-count w-35px h-35px border border-gray-400 rounded-pill d-flex justify-content-center align-items-center">
                  <!-- <span class="text-gray-50 fs-5 font-family-code fw-bold">0</span> -->
                </div>
                <p class="fs-9 mt-2 text-dark">週日</p>
              </li>
              <li class="d-flex flex-column align-items-center">
                <div class="daily-count w-35px h-35px border border-gray-400 rounded-pill d-flex justify-content-center align-items-center active">
                  <span class="text-gray-50 fs-5 font-family-code fw-bold">3</span>
                </div>
                <p class="fs-9 mt-2 text-dark">週一</p>
              </li>
              <li class="d-flex flex-column align-items-center">
                <div class="daily-count w-35px h-35px border border-gray-400 rounded-pill d-flex justify-content-center align-items-center active">
                  <span class="text-gray-50 fs-5 font-family-code fw-bold">2</span>
                </div>
                <p class="fs-9 mt-2 text-dark">週二</p>
              </li>
              <li class="d-flex flex-column align-items-center">
                <div class="daily-count w-35px h-35px border border-gray-400 rounded-pill d-flex justify-content-center align-items-center active">
                  <span class="text-gray-50 fs-5 font-family-code fw-bold">3</span>
                </div>
                <p class="fs-9 mt-2 text-dark">週三</p>
              </li>
              <li class="d-flex flex-column align-items-center">
                <div class="daily-count w-35px h-35px border border-gray-400 rounded-pill d-flex justify-content-center align-items-center">
                  <!-- <span class="text-gray-50 fs-5 font-family-code fw-bold">3</span> -->
                </div>
                <p class="fs-9 mt-2 text-dark">週四</p>
              </li>
              <li class="d-flex flex-column align-items-center">
                <div class="daily-count w-35px h-35px border border-gray-400 rounded-pill d-flex justify-content-center align-items-center active">
                  <span class="text-gray-50 fs-5 font-family-code fw-bold">3</span>
                </div>
                <p class="fs-9 mt-2 text-dark">週五</p>
              </li>
              <li class="d-flex flex-column align-items-center">
                <div class="daily-count w-35px h-35px border border-gray-400 rounded-pill d-flex justify-content-center align-items-center">
                  <!-- <span class="text-gray-50 fs-5 font-family-code fw-bold">3</span> -->
                </div>
                <p class="fs-9 mt-2 text-dark">週六</p>
              </li>
            </ul>
          </div>
        </section>
        <section class="mb-6">
          <h2 class="text-dark fs-6 fw-bold mb-2">今日紀錄</h2>
          <div class="today-card bg-secondary-100 px-5 py-4 rounded-2 border border-secondary-400">
            <div class="fs-9 text-gray-400 mb-4">今日飲用項目</div>
            <ul class="d-flex flex-column align-items-between">
              <li class="w-100 d-flex align-items-center py-1 border-bottom border-gray-200">
                <div class="w-32px h-32px bg-primary rounded-1 d-flex justify-content-center align-items-center">
                  <img src="../assets/images/type/frappuccino.svg" alt="frappuccino" class="w-22px">
                </div>
                <div class="ms-2 fs-7 text-gray-950">焦糖星冰樂</div>
                <div class="fs-7 text-primary fw-bold font-family-code ms-auto">130 mg</div>
              </li>
              <li class="w-100 d-flex align-items-center py-1 border-bottom border-gray-200">
                <div class="w-32px h-32px bg-primary rounded-1 d-flex justify-content-center align-items-center">
                  <img src="../assets/images/type/cappuccino.svg" alt="cappuccino" class="w-22px">
                </div>
                <div class="ms-2 fs-7 text-gray-950">卡布奇諾</div>
                <div class="fs-7 text-primary fw-bold font-family-code ms-auto">195 mg</div>
              </li>
              <li class="w-100 d-flex align-items-center py-1 border-bottom border-gray-200">
                <div class="w-32px h-32px bg-primary rounded-1 d-flex justify-content-center align-items-center">
                  <img src="../assets/images/type/hand-Shaken.svg" alt="hand-Shaken" class="w-22px">
                </div>
                <div class="ms-2 fs-7 text-gray-950">可不可熟成紅茶</div>
                <div class="fs-7 text-primary fw-bold font-family-code ms-auto">100 mg</div>
              </li>
              
            </ul>
          </div>
        </section>
        <section class="mb-6">
          <h2 class="text-dark fs-6 fw-bold mb-2">摘要項目</h2>
          <ul class="items-primary-bg-change">
            <li class="mb-6">
              <a href="record-caffeine.html" title="咖啡因" class="bg-color-change d-block w-100 py-4 px-5 rounded-1 d-flex align-items-start justify-content-between border border-primary-800 text-decoration-none">
                <div>
                  <div class="d-flex align-items-center mb-4">
                    <img src="../assets/images/icon/bean-2-Default.svg" alt="bean-2-Default" class="svg-brightness-100 w-20px h-20px">
                    <span class="ms-2 fs-7 text-white">咖啡因</span>
                  </div>
                  <div class="text-white d-flex align-items-center">
                    <span class="fs-10 fw-bold font-family-code me-4">360</span>
                    <span class="fs-6 fw-bold font-family-code">mg</span>
                  </div>
                </div>
                <div class="d-flex align-items-center">
                  <span class="ms-2 fs-7 text-white me-2">最後紀錄 15:11</span>
                  <img src="../assets/images/icon/arrow-right-s.svg" alt="arrow-right-s" class="w-10px">
                </div>
              </a>
            </li>
            <li class="mb-6">
              <a href="record-sleep.html" title="睡眠" class="bg-color-change d-block w-100 record-card py-4 px-5 rounded-1 d-flex align-items-start justify-content-between border border-primary-800 text-decoration-none">
                <div>
                  <div class="d-flex align-items-center mb-4">
                    <img src="../assets/images/icon/Night-Default.svg" alt="Night-Default" class="svg-brightness-100 w-20px h-20px">
                    <span class="ms-2 fs-7 text-white">睡眠</span>
                  </div>
                  <div class="text-white d-flex align-items-center">
                    <span class="fs-10 fw-bold font-family-code me-4">7</span>
                    <span class="fs-6 fw-bold font-family-code me-4">h</span>
                    <span class="fs-10 fw-bold font-family-code me-4">41</span>
                    <span class="fs-6 fw-bold font-family-code">m</span>
                  </div>
                </div>
                <div class="d-flex align-items-center">
                  <span class="ms-2 fs-7 text-white me-2">8月4日</span>
                  <img src="../assets/images/icon/arrow-right-s.svg" alt="arrow-right-s" class="w-10px">
                </div>
              </a>
            </li>
            <li class="mb-6">
              <a href="#" title="水量" class="bg-color-change d-block w-100 record-card py-4 px-5 rounded-1 d-flex align-items-start justify-content-between border border-primary-800 text-decoration-none">
                <div>
                  <div class="d-flex align-items-center mb-4">
                    <img src="../assets/images/icon/water.svg" alt="water" class="svg-brightness-100 w-20px h-20px">
                    <span class="ms-2 fs-7 text-white">水量</span>
                  </div>
                  <div class="text-white d-flex align-items-center">
                    <span class="fs-10 fw-bold font-family-code me-4">1500</span>
                    <span class="fs-6 fw-bold font-family-code me-4">ml</span>
                  </div>
                </div>
                <div class="d-flex align-items-center">
                  <span class="ms-2 fs-7 text-white me-2">最後紀錄 15:11</span>
                  <img src="../assets/images/icon/arrow-right-s.svg" alt="arrow-right-s" class="w-10px">
                </div>
              </a>
            </li>
            <li class="mb-6">
              <a href="#" title="糖分" class="bg-color-change d-block w-100 record-card py-4 px-5 rounded-1 d-flex align-items-start justify-content-between border border-primary-800 text-decoration-none">
                <div>
                  <div class="d-flex align-items-center mb-4">
                    <img src="../assets/images/icon/sugar.svg" alt="Night-Default" class="svg-brightness-100 w-20px h-20px">
                    <span class="ms-2 fs-7 text-white">糖分</span>
                  </div>
                  <div class="text-white d-flex align-items-center">
                    <span class="fs-10 fw-bold font-family-code me-4">35</span>
                    <span class="fs-6 fw-bold font-family-code me-4">mg</span>
                  </div>
                </div>
                <div class="d-flex align-items-center">
                  <span class="ms-2 fs-7 text-white me-2">最後紀錄 15:11</span>
                  <img src="../assets/images/icon/arrow-right-s.svg" alt="arrow-right-s" class="w-10px">
                </div>
              </a>
            </li>
            <li class="mb-6">
              <a href="#" title="心率" class="bg-color-change d-block w-100 record-card py-4 px-5 rounded-1 d-flex align-items-start justify-content-between border border-primary-800 text-decoration-none position-relative overflow-hidden lock">
                <div>
                  <div class="d-flex align-items-center mb-4">
                    <img src="../assets/images/icon/heart-Default.svg" alt="heart" class="svg-brightness-100 w-20px h-20px">
                    <span class="ms-2 fs-7 text-white">心率</span>
                  </div>
                  <div class="text-white d-flex align-items-center">
                    <span class="fs-10 fw-bold font-family-code me-4">- -</span>
                    <span class="fs-6 fw-bold font-family-code me-4">BPM</span>
                  </div>
                </div>
                <div class="d-flex align-items-center">
                  <!-- <span class="ms-2 fs-7 text-white me-2">8月4日</span>
                  <img src="../assets/images/icon/arrow-right-s.svg" alt="arrow-right-s" class="w-10px"> -->
                </div>
              </a>
            </li>
            <li class="mb-6">
              <a href="#" title="熱量" class="bg-color-change d-block w-100 record-card py-4 px-5 rounded-1 d-flex align-items-start justify-content-between border border-primary-800 text-decoration-none position-relative overflow-hidden lock">
                <div>
                  <div class="d-flex align-items-center mb-4">
                    <img src="../assets/images/icon/kcal.svg" alt="kcal" class="svg-brightness-100 w-20px h-20px">
                    <span class="ms-2 fs-7 text-white">熱量</span>
                  </div>
                  <div class="text-white d-flex align-items-center">
                    <span class="fs-10 fw-bold font-family-code me-4">- -</span>
                    <span class="fs-6 fw-bold font-family-code me-4">cal</span>
                  </div>
                </div>
                <div class="d-flex align-items-center">
                  <!-- <span class="ms-2 fs-7 text-white me-2">8月4日</span>
                  <img src="../assets/images/icon/arrow-right-s.svg" alt="arrow-right-s" class="w-10px"> -->
                </div>
              </a>
            </li>
          </ul>
        </section>
      </section>
    </div>
    
    

    <%- include('./layout/nav'); -%>

    <script type="module" src="../main.js"></script>

  </body>
</html>
