<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>record</title>
  </head>
  <body class="max-w-767 mx-auto bg-f6">
    <%- include('./layout/header'); -%>
    <div class="px-6">
      <section class="py-7">
        <h1 class="fs-1 mb-6">紀錄</h1>
        <section class="mb-6">
          <h2 class="text-dark fs-6 fw-bold mb-2">飲品日曆</h2>
          <div class="today-card bg-secondary-100 px-5 py-4 rounded-2 border border-secondary-400">
            <div class="fs-9 text-gray-400 mb-5">統計每日飲用杯數</div>
            <ul class="d-flex justify-content-between">
              <li class="d-flex flex-column align-items-center">
                <div class="daily-count w-35px h-35px border border-gray-400 rounded-pill d-flex justify-content-center align-items-center">
                  <!-- <span class="text-gray-50 fs-5 font-family-code fw-bold">0</span> -->
                </div>
                <p class="fs-9 mt-2 text-dark">週日</p>
              </li>
              <li class="d-flex flex-column align-items-center">
                <div class="daily-count w-35px h-35px border border-gray-400 rounded-pill d-flex justify-content-center align-items-center active">
                  <span class="text-gray-50 fs-5 font-family-code fw-bold">3</span>
                </div>
                <p class="fs-9 mt-2 text-dark">週一</p>
              </li>
              <li class="d-flex flex-column align-items-center">
                <div class="daily-count w-35px h-35px border border-gray-400 rounded-pill d-flex justify-content-center align-items-center active">
                  <span class="text-gray-50 fs-5 font-family-code fw-bold">2</span>
                </div>
                <p class="fs-9 mt-2 text-dark">週二</p>
              </li>
              <li class="d-flex flex-column align-items-center">
                <div class="daily-count w-35px h-35px border border-gray-400 rounded-pill d-flex justify-content-center align-items-center active">
                  <span class="text-gray-50 fs-5 font-family-code fw-bold">3</span>
                </div>
                <p class="fs-9 mt-2 text-dark">週三</p>
              </li>
              <li class="d-flex flex-column align-items-center">
                <div class="daily-count w-35px h-35px border border-gray-400 rounded-pill d-flex justify-content-center align-items-center">
                  <!-- <span class="text-gray-50 fs-5 font-family-code fw-bold">3</span> -->
                </div>
                <p class="fs-9 mt-2 text-dark">週四</p>
              </li>
              <li class="d-flex flex-column align-items-center">
                <div class="daily-count w-35px h-35px border border-gray-400 rounded-pill d-flex justify-content-center align-items-center active">
                  <span class="text-gray-50 fs-5 font-family-code fw-bold">3</span>
                </div>
                <p class="fs-9 mt-2 text-dark">週五</p>
              </li>
              <li class="d-flex flex-column align-items-center">
                <div class="daily-count w-35px h-35px border border-gray-400 rounded-pill d-flex justify-content-center align-items-center">
                  <!-- <span class="text-gray-50 fs-5 font-family-code fw-bold">3</span> -->
                </div>
                <p class="fs-9 mt-2 text-dark">週六</p>
              </li>
            </ul>
          </div>
        </section>
        <section class="mb-6">
          <h2 class="text-dark fs-6 fw-bold mb-2">今日紀錄</h2>
          <div class="today-card bg-secondary-100 px-5 py-4 rounded-2 border border-secondary-400">
            <div class="fs-9 text-gray-400 mb-5">今日飲用項目</div>
            <ul class="d-flex justify-content-between">
              <li class="w-100 d-flex align-items-center pb-1 border-bottom border-gray-200">
                <div class="w-32px h-32px bg-primary rounded-1 d-flex justify-content-center align-items-center">
                  <img src="../assets/images/type/frappuccino.svg" alt="frappuccino" class="w-22px">
                </div>
                <div class="ms-2 fs-7 text-gray-950">焦糖星冰樂</div>
                <div class="fs-7 text-primary fw-bold font-family-code ms-auto">130 mg</div>
              </li>
              
            </ul>
          </div>
        </section>
        
      </section>
    </div>
    
    

    <%- include('./layout/nav'); -%>

    <script type="module" src="../main.js"></script>

  </body>
</html>
