<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>設定</title>
  </head>
  <body class="max-w-767 mx-auto bg-f6">
    <%- include('./layout/header'); -%>
    <div class="px-6 overflow-x-hidden">
      <section class="py-7">
        <h1 class="fs-1 mb-7">設定</h1>
        <a href="#" title="飲察" class="text-decoration-none d-flex bg-white rounded-3 p-5">
          <img src="../assets/images/main-logo.png" alt="飲察logo" class="w-60px">
          <div class="ms-3 w-100">
            <span class="fs-3 fw-bold text-gray-950 mb-2">SipSense｜飲察</span>
            <div class="d-flex align-items-center w-100">
              <img src="../assets/images/icon/Bookmark-Mar-Default.svg" alt="w-20px">
              <span class="ms-1 me-auto">免費會員</span>
              <img src="../assets/images/icon/arrow-right-s-primary.svg" alt="w-12px">
            </div>
          </div>
        </a>
      </section>
      <section class="pb-7">
          <h2 class="fs-7 text-gray-400 mb-1">功能</h2>
          <ul class="bg-white rounded-3">
              <li class="border-bottom border-gray-200 border-half">
                <a href="#" title="link" class="py-2 px-5 d-flex align-items-center text-decoration-none">
                  <img src="../assets/images/setting/setting-01.png" alt="setting-01" class="w-30px">
                  <span class="text-gray-950 fs-6 ms-4 pe-5 me-auto">我的個人檔案</span>
                  <img src="../assets/images/icon/arrow-right-s-gray-200.svg" alt="w-12px" class="">
                </a>
              </li>
              <li class="border-bottom border-gray-200 border-half">
                <a href="#" title="link" class="py-2 px-5 d-flex align-items-center text-decoration-none">
                  <img src="../assets/images/setting/setting-02.png" alt="setting-02" class="w-30px">
                  <span class="text-gray-950 fs-6 ms-4 pe-5 me-auto">推播通知</span>
                  <img src="../assets/images/icon/arrow-right-s-gray-200.svg" alt="w-12px" class="">
                </a>
              </li>
              <li class="">
                <a href="#" title="link" class="py-2 px-5 d-flex align-items-center text-decoration-none">
                  <img src="../assets/images/setting/setting-03.png" alt="setting-03" class="w-30px">
                  <span class="text-gray-950 fs-6 ms-4 pe-5 me-auto">Apple watch 錶盤</span>
                  <img src="../assets/images/icon/arrow-right-s-gray-200.svg" alt="w-12px" class="">
                </a>
              </li>
          </ul>
      </section>
      <section class="pb-7">
        <h2 class="fs-7 text-gray-400 mb-1">個性化</h2>
        <ul class="bg-white rounded-3">
            <li class="border-bottom border-gray-200 border-half">
              <a href="#" title="link" class="py-2 px-5 d-flex align-items-center text-decoration-none">
                <img src="../assets/images/setting/setting-04.png" alt="setting-04" class="w-30px">
                <span class="text-gray-950 fs-6 ms-4 pe-5 me-auto">使用者介面</span>
                <img src="../assets/images/icon/arrow-right-s-gray-200.svg" alt="w-12px" class="">
              </a>
            </li>
            <li class="border-bottom border-gray-200 border-half">
              <a href="#" title="link" class="py-2 px-5 d-flex align-items-center text-decoration-none">
                <img src="../assets/images/setting/setting-05.png" alt="setting-05" class="w-30px">
                <span class="text-gray-950 fs-6 ms-4 pe-5 me-auto">小元件樣式</span>
                <img src="../assets/images/icon/arrow-right-s-gray-200.svg" alt="w-12px" class="">
              </a>
            </li>
            <li class="">
              <a href="#" title="link" class="py-2 px-5 d-flex align-items-center text-decoration-none">
                <img src="../assets/images/setting/setting-06.png" alt="setting-06" class="w-30px">
                <span class="text-gray-950 fs-6 ms-4 pe-5 me-auto">時區設定</span>
                <img src="../assets/images/icon/arrow-right-s-gray-200.svg" alt="w-12px" class="">
              </a>
            </li>
        </ul>
      </section>
      <section class="pb-7">
        <h2 class="fs-7 text-gray-400 mb-1">資料</h2>
        <ul class="bg-white rounded-3">
            <li class="border-bottom border-gray-200 border-half">
              <a href="#" title="link" class="py-2 px-5 d-flex align-items-center text-decoration-none">
                <img src="../assets/images/setting/setting-07.png" alt="setting-07" class="w-30px">
                <span class="text-gray-950 fs-6 ms-4 pe-5 me-auto">iCloud 資料同步</span>
                <img src="../assets/images/icon/arrow-right-s-gray-200.svg" alt="w-12px" class="">
              </a>
            </li>
            <li class="">
              <a href="#" title="link" class="py-2 px-5 d-flex align-items-center text-decoration-none">
                <img src="../assets/images/setting/setting-08.png" alt="setting-08" class="w-30px">
                <span class="text-gray-950 fs-6 ms-4 pe-5 me-auto">健康資料同步</span>
                <img src="../assets/images/icon/arrow-right-s-gray-200.svg" alt="w-12px" class="">
              </a>
            </li>
        </ul>
      </section>
      <section class="pb-7">
        <a href="#" title="link" class="py-4 px-5 d-flex justify-content-center text-decoration-none bg-white rounded-3">
          <span class="text-danger fs-6 fw-bold">登出</span>
        </a>
      </section>
    </div>
    
    

    <%- include('./layout/nav'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
