<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>setting</title>
  </head>
  <body class="max-w-767 mx-auto">
    <%- include('./layout/header'); -%>
    <div class="px-6">
      <h1 class="index-title">setting-1231231231231231232</h1>
      <div class="container vh-100">
        <ul class="row">
          <li class="col-6 col-xl-3 bg-primary">1231231</li>
          <li class="col-6 col-xl-3 bg-primary">1231231</li>
          <li class="col-6 col-xl-3 bg-primary">1231231</li>
          <li class="col-6 col-xl-3 bg-primary">1231231</li>
        </ul>
        <img src="../assets/images/cat.jpg" style="width: 300px;" alt="cat">
      </div>
    </div>
    
    

    <%- include('./layout/nav'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
